<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#1e2527">
    <link rel="canonical" href="{{ canonical_url }}">

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {{ content_for_header }}
    {{ 'breezepod.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'breezepod.js' | asset_url }}" defer></script>
  </head>
  <body>
    <a class="bp-skip-link" href="#MainContent">Skip to content</a>
    {% section 'bp-announcement' %}
    {% section 'bp-header' %}

    <main id="MainContent" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'bp-footer' %}
  </body>
</html>
